/NWebApp270719Restaurant/NWebApp270719Restaurant/nbproject/private/
/NWebApp270719Restaurant/build/
NWebApp270719Restaurant/nbproject/private/private.properties
/NWebApp110819JSTL/NWebApp110819JSTL/nbproject/private/
/NWebApp110819JSTL/nbproject/private/
/NWebApp110819JSTL/build/