.classpath
.factorypath
.project
.settings
*.class
/WEBEX1MIAppRoslinLeon/WEBEX1MIAppRoslinLeon/nbproject/private/
/WEBEX1MIAppRoslinLeon/nbproject/private/
/WEBEX1MIAppRoslinLeon/build/
/NWebApp110819JSTL/nbproject/private/
/NWebApp110819JSTL/build/
/NWebApp250819JDBC/nbproject/private/
/NWebApp250819JDBC/build/
/NWebApp250819JDBC/dist/
/WEBEX1MIAppRoslinLeon/NWebAppExFinalLeonMatiasRoslin/nbproject/private/
/NWebAppExFinalLeonMatiasRoslin/nbproject/private/
/NWebAppExFinalLeonMatiasRoslin/build/
/NWebAppExFinalLeonMatiasRoslin/dist/